@font-face {
  font-family: 'hk_grotesk';
  src: url('/assets/fonts/hkgrotesk-bolditalic-webfont.woff2') format('woff2'),
       url('/assets/fonts/hkgrotesk-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'hk_grotesk';
  src: url('/assets/fonts/hkgrotesk-bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/hkgrotesk-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'hk_grotesk';
  src: url('/assets/fonts/hkgrotesk-italic-webfont.woff2') format('woff2'),
       url('/assets/fonts/hkgrotesk-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'hk_grotesk';
  src: url('/assets/fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/hkgrotesk-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_grotesk';
  src: url('/assets/fonts/hkgrotesk-lightitalic-webfont.woff2') format('woff2'),
       url('/assets/fonts/hkgrotesk-lightitalic-webfont.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'hk_grotesk';
  src: url('/assets/fonts/hkgrotesk-light-webfont.woff2') format('woff2'),
       url('/assets/fonts/hkgrotesk-light-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
